<div class="footer" style="color: gray; text-align: center; margin: 16px auto;">
    © <span class="year"></span> - Developed by Group No. 31 MoCU
</div>

<script>
    let year = document.querySelector('.year')
    let dt = new Date()
    year.innerText = dt.getFullYear()
</script>