<header>
    <div class="title" onclick="window.open('/dashboard', '_self')">
        <span class="vehicle">
            VEHICLE PARKING
        </span>
        <span class="parking">
            MANAGEMENT SYSTEM
        </span>
    </div>
    <div class="profile">
        <i class="fa-solid fa-address-card"></i>
        <%- include('./profile-modal.ejs'); %>
    </div>
</header>