<header>
    <div class="title" onclick="window.open('/dashboard', '_self')">
        <span class="vehicle">
            VEHICLE PARKING
        </span>
        <span class="parking">
            MANAGEMENT SYSTEM
        </span>
    </div>
    <div class="profile">
        <div class="pmodal">
            <ul>
                <li class="myacc"><i class="fa-solid fa-user"></i> &nbsp; My Account</li>
                <li class="settings"><i class="fa-solid fa-screwdriver-wrench"></i> &nbsp; Settings</li>
                <li class="logout" onclick="window.open('/logout', '_self')"><i class="fa-solid fa-power-off"></i></li>
            </ul>
        </div>
    </div>
</header>