<div class="pmodal">
    <ul>
        <li><i class="fa-solid fa-user"></i> Profile</li>
        <li><i class="fa-solid fa-unlock-keyhole"></i> Change password</li>
        <li><i class="fa-solid fa-sliders"></i> Settings</li>
        <li><i class="fa-solid fa-right-from-bracket"></i> Logout</li>
    </ul>
</div>