<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <%- include('../1-loginPage/partials/style.ejs'); %>
    <style>
        .invalid {
            background-color: red;
            color: white;
            padding: 4px 8px;
            margin: 8px auto;
            display: inline-block;
            width: 100%;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <div class="col-left">
                <div class="login-text">
                    <h2>Vehicle<span>Parking</span></h2>
                    <p>Management System.<br><br>Group No. 31</p>
                    <a class="btn">📅 2022</a>
                </div>
            </div>
            <div class="col-right">
                <div class="login-form">
                    <h2>Login</h2>
                    <form action="/login" method="post">
                        <span class="invalid">
                            Invalid credentials, try again
                        </span>
                        <p>
                            <label>Username or email address<span>*</span></label>
                            <input type="text" name="user" placeholder="Username or Email" required>
                        </p>
                        <p>
                            <label>Password<span>*</span></label>
                            <input type="password" name="pass" placeholder="Password" required>
                        </p>
                        <p>
                            <input type="submit" value="Sing In" />
                        </p>
        
                        <p>
                            <a href="/recovery">Forget Password?</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>