<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne"
                style="background-color: brown; color: white; font-weight: bold;">
                Add New Vehicle
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <div class="form">
                    <form method="POST" action="/vehicle-entry" id="submitForm">
                        <div class="group1 grp">
                            <div class="form-floating mb-3" style="width: 45%;">
                                <input type="text" class="form-control" id="regno2" name="regno" placeholder="Eg. T666 DAD"
                                    style="width: 100%;" required>
                                <label for="regno">Registration Number</label>
                            </div>

                            <div class="form-floating mb-3" style="width: 45%;">
                                <input type="text" class="form-control" placeholder="Ex. Toyota" id="vname2" name="vname"
                                    style="width: 100%;" required>
                                <label>Vehicle's Company Name</label>
                            </div>
                        </div>

                        <div class="form-floating" style="width: 100%;">
                            <select class="form-select" name="cname" id="cname2" style="width: 100%;" required>
                                <option value="" selected disabled hidden>Select Category</option>
                                <% categories.forEach(cat=> { %>
                                    <option value="<%= cat.cname %> - <%= cat.price %>">
                                        <%= cat.cname %>
                                    </option>
                                    <% }) %>
                            </select>
                            <label for="cname">Vehicle Category</label>
                        </div>
                        <br>
                        <div class="grp group2">
                            <div class="form-floating mb-3" style="width: 45%;">
                                <input type="text" class="form-control" placeholder="Enter Here.." id="oname2"
                                    name="oname" style="width: 100%;" required>
                                <label>Owner's Full Name</label>
                            </div>

                            <div class="form-floating mb-3" style="width: 45%;">
                                <input type="tel" class="form-control" placeholder="Enter Here.." maxlength="10"
                                    pattern="[0-9]+" id="contact2" name="contact" style="width: 100%;" required>
                                <label>Owner's Contact</label>
                            </div>
                        </div>

                        <div class="fbtns">
                            <button type="submit" class="btn sbtn" name="submit-vehicle">Submit</button>

                            <button type="reset" class="btn rbtn">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>